*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    font-size:4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #081B31;
    background-color:white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    height: 80px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: start;
}
.navbar ul li{
    cursor: pointer;
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 26px;
}
.navbar ul li a:hover{
    color: #25D366;
    text-decoration: underline  ;
}
.contents{
    padding: 20px;
    background-color:white;
}
.image img{
    margin: 20px;
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid cornflowerblue;
}
.cntext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    color:black;
    padding: 10px;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
}
/* Styles for the slideshow images */
.mySlides {
    display: none;
}

/* Style for next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(38, 37, 37, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Style for text */
.text {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

/* Style for text container */
.text-container {
    background-color:#bcd6f4;
    padding: 10px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 16px; */
}

.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
.column p{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    /* height: 1200px; */
    padding-bottom: 20px;
}
.note{
    color: red;
}
.qr{
    display: flex;
    justify-content:center;
    align-items: center;
}
.qr h1{
    padding: 10px;
}
.qr img{
    border-radius: 20px;
    height: auto;
}
.navbar-list ul li{
    padding: 6px;
    margin: 10px;
}
.navbar-list ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-list ul li a:hover{
    color: #25D366;
    text-decoration:underline;
}
.navbar-list h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
.map{
    margin-top: 35px;
}
.footer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #25D366;
    padding: 
    20px;
}
.footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    header{
        font-size:2em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        color: whitesmoke;
        background-color: #081B31;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul li a{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: black;
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
    }
    .image img{
        margin: 20px;
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid cornflowerblue;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    .text-container {
        font-size: 10px;
    }
    .row {
        display:inline;
    }
    .column {
        flex: 35%;
        padding: 5px;
    }
    .column p{
        width: auto;
        font-size: 10px;
    }
    .footer{
        height: 1200px;
        padding-bottom: 20px;
        background-color: white;
        color: black;
    }
    .qr img{
        width: 100%;
    }
    .footer h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        text-align: center;
        color: #25D366;
        padding: 16px;
    }
}